.menu {
    background: #f1f1f1;

    animation-name: animacao1;
	animation-duration: 4.8s;
	animation-iteration-count: infinite;
}
@keyframes animacao1 
{
		16.5%{
		background: linear-gradient(rgb(147, 147, 150), #f1f1f1, #f1f1f1);
	}
	33% {
        background: linear-gradient(#f1f1f1, rgb(147, 147, 150), #f1f1f1);
	}
	50%{
        background: linear-gradient(#f1f1f1, #f1f1f1, rgb(147, 147, 150));
	}
}
.menu__trailler {
    text-align: center;
    margin-top: 20px;
}
strong {
    
    color: rgb(173, 32, 32);
}
.menu__titulo {
    margin-bottom: 10px;
    font-size: 30px;
}
/*Planos*/
.planos {
    display: inline-block;
}
.planos__card___titulo {
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
}
.planos__card___mensal {
    background: white;
    margin-top: 10px;
    margin-left: 395px ;
    border: 1px solid black;
    border-radius: 10px;
}
.planos__card___mensal-2 {
    background: white;
    margin-left: 690px ;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.planos__card___botao {
    text-align: center;
    margin-left: 76px ;
    margin-top: 7px;
    margin-bottom: 8px;
    font-size: 20px ;
}
.rodape {
    background: #fdfdfd;
    color: #333333;
    grid-area: rodape;
    padding: 1rem;
    text-align: center;
}
@media screen and (min-width: 0px) {
    .planos__card___mensal{
        margin-left: 200px;
    }
}
@media screen and (max-width: 760px) {
    .planos__card___mensal{
        margin-left: 100px;
    }
}
@media screen and (min-width: 992px) {
    .planos__card___mensal{
        margin-left: 395px ;
        margin-bottom: 20px;
    }
} 
 /*Responsividade bloco 2*/
@media screen and (min-width: 0px) {
    .planos__card___mensal-2{
        margin-left: 450px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 760px) {
    .planos__card___mensal-2{
        margin-left: 100px;
    }
}
@media screen and (min-width: 992px) {
    .planos__card___mensal-2{
        margin-left: 690px ;
        margin-bottom: 20px;
    }
} 
.menu__texto {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.botao__voltar {
    border: 3px solid rgb(173, 32, 32);
    position: fixed;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 30px;
    color: rgb(173, 32, 32);
    text-align: left;
}
.botao__voltar:hover {
    font-size: 32px;
    box-shadow: 0px 5px 5px rgb(173, 32, 32);
}